/* Team section  */

.team {
    background-color: $secondary-background-color;
    @media screen and (min-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
&__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }
    
&__list {
        // display: flex;
        // justify-content: space-between;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
    

}



/* Card list */

.card {
    // width: calc((100% - 90px) / 4);
    background-color: $main-background-color;
    padding-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    &__img {
        display: block;
        margin-bottom: 30px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
&__profession {
        color: $secondary-color;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
    }
    
&__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    

}