/* Footer */

.footer {
    background-color: $footer-background-color;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    &__contacts {
        margin-bottom: 60px;
    }
    
&__items {
        // display: flex;
        // justify-content: space-between;
        // align-items: baseline;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        // padding-bottom: 28px;                                                                
    }
    

}



/* Address */

.address {
    color: $main-color-invert;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    display: flex;
    flex-direction: column;
    &__local {
        margin: 0 0 8px 0;
        padding: 0;
        // margin-bottom: 8px;
        // margin-bottom: 10px;
    }
    
&__mail {
        display: block;
        margin-bottom: 8px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
    }
    
&__tel {
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
    }
    

}



/* Invitation */

.invitation {
    // width: 206px;
    &__title {
        color: $third-turn-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
    
&__networks {
        // list-style: none;
    }
    

}



/* Submit */

.submit {
    color: $third-turn-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    &__list {
        // display: flex;
        // align-items: center;
        margin: 0;
        color: rgba(255, 255, 255, 0.6);
        list-style: none;
        padding: 0;
    }
    
&__item {
        // margin-right: 12px;
        margin-bottom: 20px;
    }
    
&__mail {
        font-size: 16px;
        background-color: inherit;
        color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        padding: 15px 12px;
        letter-spacing: 0.03em;
        border-radius: 4px;
    }
    
&__button {
        min-width: 200px;
        display: flex;
        justify-content: space-between;
        padding-right: 28px;
        padding-left: 28px;
        margin-left: auto;
        margin-right: auto;
    }
    
&__icon {
        fill: #ffffff;
    }
    

}