    /* Header */
    
    .header {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        justify-content: center;
        text-decoration: none;
    }
    /* Site nav */
    
    .site-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__list {
            // display: flex;
            // padding-left: 0;
            list-style: none;
        }
        
&__menu {
            @media screen and (max-width: 480px) {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: cornsilk;
                z-index: 10;
            }
            

        }
        
&__link {
            @media screen and (max-width: 480px) {
                padding-top: 16px;
                padding-bottom: 16px;
            }
            
// position: relative;
            // text-decoration: none;
            // color: $main-color;
            // padding-top: 32px;
            // padding-bottom: 32px;
            // transition: color $transition;
            &:hover,
            &:focus {
                // color: $accent-primary-color;
                // cursor: pointer;
            }
            

        }
        

    }
    

    .site-nav__link--current {
        color: $accent-primary-color;
        &::after {
            // content: '';
            // position: absolute;
            // width: 100%;
            // height: 4px;
            // left: 0;
            // bottom: 0;
            // background-color: #2196f3;
            // border-radius: 2px;
        }
        

    }
    

    .site-nav__item:not(:last-child) {
        // margin-right: 50px;
    }
    /* Contacts */
    
    .contacts {
        // display: inline-flex;
        // color: $secondary-color;
        // text-decoration: none;
        // padding-top: 32px;
        // padding-bottom: 32px;
        // transition: color $transition;
        &__wraper {
            // display: flex;
        }
        
&:hover,
        &:focus {
            // color: $accent-primary-color;
            // cursor: pointer;
        }
        
&:first-child {
            // margin-right: 50px;
        }
        

    }
    

    .icon-envelope {
        // margin-right: 10px;
        // align-self: center;
        // fill: currentColor;
    }
    

    .icon-phone {
        // width: 10px;
        // height: 15px;
        // margin-right: 10px;
        // align-self: center;
        // fill: currentColor;
    }
    

    .icon-menu {
        padding: 0;
        display: inline-flex;
        background-color: $button-color;
        border: none;
        .icon-cross {
            display: none;
        }
        
&.is-open .icon-cross {
            display: block;
        }
        
&.is-open .icon-menu {
            display: none;
        }
        

    }