@mixin logo($color) {
    color: $color;
}


.logo {
    @include logo($main-color);
    @extend .logo__font;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    &__font {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
    }
    
&__header {
        margin-right: 85px;
    }
    
&__footer {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
    }
    
&--blue {
        @include logo($accent-primary-color);
        @extend .logo__font;
    }
    
&--invert {
        @extend .logo__font;
        @include logo($main-color-invert);
        text-decoration: none;
    }
    

}